.home-page__container {
  text-align: center;
  font-size: 45px;
  font-weight: 100;
  color: #7e5152;
}
.home-page__top {
  margin-bottom: 10px;
}
.home-page__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page__bottom-text {
  margin-right: 10px;
}
